<div class="deep-grey-background d-flex flex-column align-items-center" style="min-height: 100vh;">
    <h3 class="text-white mt-3">Change password</h3>
    <form class="rounded" (submit)="changePassword()" [formGroup]="passwordForm">

        <div class="form-group text-start m-4">
            <label for="currentPassword" class="text-white">Current password:</label>
            <input type="password" id="currentPassword" formControlName="currentPassword" name="currentPassword"
                class="form-control" required>
            <div class="text-warning mx-2"
                *ngIf="passwordForm.get('currentPassword')?.hasError('required') && passwordForm.get('currentPassword')?.touched">
                <span>Enter your current password</span>
            </div>
        </div>

        <div class="form-group text-start m-4">
            <label for="password" class="text-white">New password:</label>
            <input type="password" id="password" formControlName="password" name="password" class="form-control"
                required>
            <div class="text-warning mx-2"
                *ngIf="passwordForm.get('password')?.hasError('required') && passwordForm.get('password')?.touched">
                <span>Enter the new password</span>
            </div>
        </div>
        <div class="form-group text-start m-4">
            <label for="confirmPassword" class="form-label text-white">Repeat the new password: </label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                formControlName="confirmPassword" required>

            <div class="text-warning"
                *ngIf="passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword')?.touched">
                <span>Repeat the new password</span>
            </div>
        </div>

        <div *ngIf="passwordForm.hasError('passwordMismatch') && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)"
            class="text-warning text-center mb-2">
            Password must math
        </div>

        <div class="text-center">
            <button type="submit" [disabled]="passwordForm.invalid"
                class="btn yellow-background btn-outline-dark">Update</button>
        </div>
    </form>
</div>