@import '~bootstrap-icons/font/bootstrap-icons.css';

* {
  font-family: Georgia, 'Times New Roman', Times, serif
}

.overlay {
  position: fixed;
  z-index: 10;
}

.yellow-background {
  background-color: #FFD700 !important;
}

.deep-grey-background {
  background-color: #333333 !important;
}

::placeholder {
  color: #b7b7b7 !important;
}

.bi {
  font-size: 1.3rem;
}

.btn-yellow {
  background-color: #bea202 !important;
}

.btn {
  transition: transform 0.2s ease-in-out !important;
}

.btn:hover {
  transform: scale(1.1);
}
