<header class="p-2 yellow-background shadow">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center container-fluid">
            <a href="dashboard" class="d-flex align-items-center text-dark text-decoration-none">
                <i class="bi bi-sticky-fill mx-2"></i>
                <h3 class="m-0">NoteMe</h3>
            </a>

            <ng-container *ngIf="authService.loggedIn(); else loggedOut">
                <div class="text-end d-flex align-items-center ms-auto">
                    <div class="collapse" id="searchForm">
                        <input class="form-control me-2 bg-dark text-white" type="search" placeholder="Search user"
                            aria-label="Search">
                    </div>
                    <button class="btn icon-btn me-2" data-bs-toggle="collapse" data-bs-target="#searchForm"
                        aria-expanded="false" aria-controls="searchForm">
                        <i class="bi bi-search"></i>
                    </button>
                    <button class="btn icon-btn me-2" routerLink="/new-note" data-bs-toggle="tooltip" title="New note">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                    <button class="btn icon-btn me-2 text-decoration-none link-dark" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="dashboard">Home</a></li>
                        <li><a class="dropdown-item" href="profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" style="cursor: pointer;" (click)="authService.logOut()">Logout</a>
                        </li>
                    </ul>
                </div>
            </ng-container>

            <ng-template #loggedOut>
                <div class="text-end d-flex align-items-center ms-auto">
                    <button routerLink="signup" class="btn btn-outline-dark me-2">Sign Up</button>
                    <button routerLink="signin" class="btn btn-outline-dark me-2">Sign In</button>
                </div>
            </ng-template>
        </div>
    </div>
</header>